manifest {
  description = 'Prototype scRNA-seq pipeline implemented with Nextflow' 
  author = 'Kane Toh'
  name = 'scRNAseq'
  mainScript = 'main.nf'
  nextflowVersion = '21.10.6'
}

/*
 * Default config options for all environments.
 */

params{
  
    aligner                       = "kb"
    barcode_whitelist             = false
    chemistry                     = "v3" 
    fasta                         = false
    genome                        = false
    gtf                           = false
    kb_prebuilt                   = false
    igenomes_ignore               = false
    input                         = null
    outdir                        = "${projectDir}/results"
    tmpdir                        = "./tmp"
    tracedir                      = "${params.outdir}/pipeline_info"
    type                          = "10x"
}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev

process {
     withLabel: kb {
        container = 'kanetoh/kb-python:latest'
        errorStrategy = 'terminate'
     }
}
docker.enabled = true

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load igenomes.config if required
if (!params.igenomes_ignore) {
  includeConfig 'conf/igenomes.config'
}

/* 
 * Defines execution profiles for different environments  
 
profiles{
    docker {
        process.container = 'quay.io/nextflow/rnaseq-nf:v1.1'
        docker.enabled = true
  }

}
*/

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}

trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}
